<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      @font-face {
            font-family: 'Trueno';
            src: url('fonts/TruenoLt.otf') format('opentype');
        }
        body{
            font-family: 'Trueno';
        }
        .header-mail{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            background-color: #e5dfdf;
            text-align: center;
            padding: 15px;
        }
        .content-mail-background{
            position: fixed;
            left: 0;
            right: 0;
            background-image: url(cid:background);
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: 150px;
            height: 100%;
            padding-left: 80px;
            padding-right: 80px;

        }
        .content-mail{
            margin-top: 50px;
            background-color: #fff;
            height: 100%;
            padding: 50px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .content-mail h3{
            text-align: center;
            font-weight: 600;
        }
        .content-mail .content-mail-text{
            text-align: justify;
        }
        .content-mail .content-mail-button{
            margin-top: 70px;
            text-align: center;
        }
        .content-mail .content-mail-button a{
            background-color: #219EBC;
            padding: 15px;
            border-radius: 25px;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
        }
        .logo-wekauri-express img{
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 100px;
        }
        .logo-wekauri-express{
            text-align: center;
            margin-top: -80px;
        }

        @media(max-width: 480px){
            .content-mail-background{
                padding-left: 30px;
                padding-right: 30px;
                position: relative;
                padding-top: 10px;
                height: 100%;
            }
            .content-mail{
                padding: 10px;
            }
            .content-mail .content-mail-button a{
                font-size: 12px;
            }
            .logo-wekauri-express img{
                width: 100px;
                height: 100px;
            }
            /* .logo-wekauri-express{
                padding-top: -90px;
            } */
            
        }
    </style>

  </head>
  <body>
      {{!-- <h1>{{title}}</h1>
      <p>{{text}}</p> --}}
      <div class="header-mail">
        <h3>Bonjour, {{superHero.user}}</h3>
    </div>

    <div class="content-mail-background">
        <p class="logo-wekauri-express">
            <img src={{superHero.imgurl}} alt="">
        </p>
        <div class="content-mail">
            <h3>Confirmez votre adresse email</h3>
            <p class="content-mail-text">
            
            </p>
            <p class="content-mail-text">
                {{superHero.text}}
            </p>

            <p class="content-mail-button">
                <a href="" type="button" class="btn">Confirmez votre adresse email</a>
            </p>
        </div>
        
    </div>
  </body>
</html>